 /* * {
    outline: 1px solid red;
} */


body {
    position: relative;
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    
}

.item {
    position: relative;
    width: 100px;
    margin: 0 auto;
    z-index: 0;
    height: 100vh;

}



.point {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh; 
    color: white;
} 

.Point {

}

.coin {

}

.energy {

}

.Energy {

}

.slesh {

}

.canvas {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100px;
    left: 0;
    
    
}
