 /* * {
    outline: 1px solid red;
} */


body {
    position: relative;
    background: black;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    color: white;
    
}

.item {
    position: relative;
    width: 100px;
    margin: 0 auto;
    z-index: 0;
    height: 100vh;

}





.Point {

}

.coin {

}

.energy {

}

.Energy {

}

.slesh {

}

.point {
    display: flex;
    height: 90vh;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;

}

.oon {
    margin: 0 auto;
}



.en {
    text-align: center;
}

.BLTC {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("assets/btc.svg");
    background-repeat: no-repeat;
    margin-left: 5px;
}

.canvas {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100px;
    left: 0;
    
    
}
